form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  label input {
    margin-top: 5px;
  }
  
  input[type="button"] {
    margin-top: 10px;
  }