<!-- account.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Account</title>
  <link rel="stylesheet" href="static/css/style_account.css">
  <link rel="stylesheet" href="static/icons/style_icons.css">
  <script src="static/js/account.js"></script>
  <script src="static/js/log_out.js"></script>
</head>

<body>
  <nav>
    <a href="/">
      <div class="main_page">
        <img src="static\icons\main.png" alt="Main Page">
      </div>
    </a>
  </nav>
  <div class="container">
    <h1>Welcome to Your Account</h1>
    <div class="container" id="liked-container"></div>
    <h2>Comments</h2>
    <div id="comments-container">
    </div>
    <button onclick="logout()">Logout</button>
  </div>
</body>

</html>